<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tính hình chữ nhật</title>
</head>
<body>
<h2>Nhập chiều dài và chiều rộng</h2>
<form action="/rectangle/calc" method="post">
    <label>Chiều dài:</label>
    <input type="text" name="height"><br><br>

    <label>Chiều rộng:</label>
    <input type="text" name="width"><br><br>

    <label>canh:</label>
    <input type="text" name="egde"><br><br>

    <button type="submit">Tính toán</button>
</form>
</body>
</html>
